
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container-narrow {
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
}

.loading {
	background: url('/img/loading.gif') no-repeat center;
	background-size: 50px;
	min-height: 180px;

	&>* {
		display: none;
	}
}

ul.messages-list {
	background: #FFF;
	border: 1px;

	li {

	}
}
